<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Maven test suite">
  <test verbose="2" name="testsForMavenReport">
    <classes>
      <class name="mavenTests.mavenTest1"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
